aside {
    background: rgb(254, 253, 248);
    background: radial-gradient(circle, rgba(254, 253, 248, 1) 0%, rgba(216, 216, 212, 1) 1%, rgba(126, 126, 126, 1) 81%);
    border-radius: 8px;
    width: 100%;
    min-width: 300px;
    height: auto;
    margin-left: 50px;
    line-height: 2rem;
    color: var(--color-body);
}

.aside-container {
    padding: 10px;
}

.aside-container ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside-container li {
    list-style-type: circle;
}

.aside-container li a {
    color: rgb(90, 76, 58);
    text-decoration: underline;
}