aside {
    /* background: rgb(254, 253, 248);
    background: radial-gradient(circle, rgba(254, 253, 248, 1) 0%, rgba(216, 216, 212, 1) 1%, rgba(126, 126, 126, 1) 81%); */
    /* background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 1%, rgba(206, 218, 226, 1) 61%, rgba(241, 240, 229, 1) 97%, rgba(106, 181, 227, 1) 99%); */
    background-image: url(../images/photo-dlya-saytu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 100%;
    min-width: 300px;
    height: auto;
    margin-left: 50px;
    line-height: 2rem;
    color: var(--color-body);
}

.aside-container {
    padding: 10px;
}

.aside-container ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside-container li {
    list-style-type: circle;
}

.aside-container li a {
    color: rgb(90, 76, 58);
    text-decoration: underline;
}