.main-aside {
    max-width: 100%;
    top: 50px;
    background-color: rgba(169, 169, 169, 0.28);
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid rgba(246, 230, 3, 0.307);
    border-radius: 8px;
    width: 100%;
    min-width: 300px;
    height: fit-content;
    margin-left: 50px;
    line-height: 2rem;
    /* color: var(--color-body); */
}

.aside-container {
    padding: 10px;
}

.aside-container ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside-container li {
    list-style-type: circle;
}

.aside-container li a {
    text-decoration: underline;
}
