@media screen and (max-width:1200px) {}

@media screen and (max-width:950px) {
    /* .container {
        overflow-x: hidden;
    } */

    .wrapper {
        overflow: hidden;
    }

    .hero-info {
        display: flex;
        flex-direction: column;
    }

    .right-aside,
    .main-aside {
        max-width: 100%;
        margin-inline: 0;
        border: 2px solid #eee;
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .info-papua {
        display: flex;
        justify-content: space-between;
    }

    .wrapper-carousel {
        max-width: 500px;
    }

    footer {
        text-align: center;
    }

    .contact-form {
        flex-direction: column;
        align-items: center;
    }

    footer form {
        max-width: 700px;
    }
}

/* Для мобільних пристроїв */
@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        width: 100%;
        background-color: #33333387;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
        position: absolute;
    }

    .nav-links li {
        margin: 15px 0;
    }
}

/* Анімація бургер-меню */
.burger.toggle span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.burger.toggle span:nth-child(2) {
    opacity: 0;
}

.burger.toggle span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

.navbar {
    position: static;
}

.nav-links {
    position: static;
}

@media screen and (max-width:0px) {}