.wraper-autor {
    background-color: aqua!important;
}

.hero-info-autor {
    text-align: left;
}
.baner-autor {
    margin-bottom: 50px;
}

.navigaciyaposaytu-autor {
    margin-top: 0;
}

.footer-container {
    color: aqua;
}
