.solomon-bg {
    background-color: cadetblue;
}

.solomon-aside {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 100%;
    min-width: 300px;
    height: auto;
    margin-left: 50px;
    line-height: 2rem;
    color: var(--color-body);
}